@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Cursive:wght@400..700&display=swap');

body { 
    background-color: #fed9b7; 
    margin: 0; 
    font-family: 'Edu NSW ACT Cursive', cursive; 
    background-image: url('images/stbg3.png');
    background-repeat: no-repeat;        
    background-size: cover;             
    background-position: center center; 
    background-attachment: fixed;   
}

.product-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fdfdcd;
    border-radius: 45px;
    width: 300px;
    padding: 20px;
    margin: 20px auto;
    transition: all 0.3s ease;
    text-align: center;
    box-shadow: 0px 4px 8px #131212;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}
.product-card-image {
    border-radius: 25%;
    width: 200px;
    margin-top: 20px;
}
.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 12px #131212;
    cursor: pointer;
}
.product-description {
    font-size: 14px;
    font-style: italic;
    color: #8b8b99;
    padding-top: 10px;
}
.price, .cost {
    font-weight: 600;
    font-size: 16px;
}

.quantity-input {
    width: 40px;
    text-align: center;
}

.submit-button {
    background-color: #ff8a8a;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    color: white;
    border: none;
    text-align: center;
    margin-bottom: 24px;
    border-radius: 24px;
    font-family: 'Edu NSW ACT Cursive', cursive; 
    font-weight: bold;
}

.submit-button:hover {
    background-color: #ff6363;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 18px;
    color: #fdfdcd;
    border: none;
    text-align: center;
    margin-bottom: 24px;
    border-radius: 24px;
    font-family: 'Edu NSW ACT Cursive', cursive; 
    font-weight: bold;
    transition: background-color 0.25s ease-in-out;
    cursor: pointer;
}

.heading {
    width: 100vh; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fdfdcd;
    font-size:32px;
    padding-top:32px;
    padding-bottom:32px;
    text-align: center;
    font-family: 'Edu NSW ACT Cursive', cursive;
    border-radius: 24px;
    box-shadow: 0px 4px 8px #131212;
}